body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
  }
  
  .image-background {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .image-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .middle-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
}

.middle-content h1 {
    color: #fcfbae; /* Updated color */
    font-size: 56px;
    margin-bottom: 15px;
    text-shadow: 0px 0px 10px #f027e6, 0px 0px 20px #fcfbae, 0px 0px 30px #f027e6; /* Updated glow effects */
    
    /* Shift the h1 upwards by 50 pixels */
    transform: translateY(-50px);
}
  
  /* Button styling */
  button {
    position: relative;
    transform: translateY(-20px);
    padding: 20px 40px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    box-shadow: 0 0 15px 3px rgba(13, 1, 253, 0.5);
    border-color: rgba(0, 142, 236, 0.5);
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 25px 15px #fff;
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
  }
  
  /* Background audio toggle button */
  #audio-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  